@inherits UmbracoViewPage
@using UmbNav.Core.Extensions
@using UmbNav.Core.Models

@using Umbraco.Cms.Web;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.Name</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

    
<body class="font-poppins">
    <!-- Navigation -->
    @* @{
    var site = Model.Root();
    var umbNav = site.FirstChildOfType("siteSettings").Value<IEnumerable<UmbNavItem>>("umbNavPE");
}
@foreach (var item in umbNav)
{
    <a class="nav-link @item.CustomClasses" href="@item.Url()" target="@item.Target" rel="@item.Noopener @item.Noreferrer">@item.Title</a>
} *@
    @RenderBody()
</body>
</html>
